﻿@model IEnumerable<CSIMediaTest.Models.Numbers>
<br />
<p>
    <input type="button" class="btn" value="Add Numbers" onclick="location.href='@Url.Action("Create", "Numbers")'" />
    <input type="button" class="btn" value="Export to XML in Doucments folder" onclick="location.href='@Url.Action("Export", "Numbers")'" />
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NumberEnties)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAscending)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeTaken)
        </th>
    </tr>

@foreach (var item in Model.OrderBy(i => i.TimeTaken)) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NumberEnties)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsAscending)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeTaken) milliseconds
        </td>
    </tr>
}
</table>
